<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FinanceAppEntities" connectionString="metadata=res://*/FinanceApp.csdl|res://*/FinanceApp.ssdl|res://*/FinanceApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PARTHI-E85FF9BB\SQLEXPRESS;Initial Catalog=Finance;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>